* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #27282b;
}
#right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#one {
  background-color: #201e1e;
  padding-left: 20px;
}
#top-header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #201e1e;
}
#top-header ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
  background-color: #201e1e;
  justify-content: end;
  width: 100%;
  padding-right: 40px;
}
.btn {
  color: white;
  text-decoration: none;
  background-color: #201e1e;
}
.btn:hover {
  color: #55ec20;
}
#top-right {
  position: absolute;
  top: 70px;
  right: 30px;
}
#right-side h2 {
  color: white;
  margin-top: 65px;
}
#per-date {
  display: flex;

  flex-direction: column;
  height: 300px; /* Tilføjet fast højde */
  overflow-y: auto;
  margin-top: 40px; /* Tilføjet rullebjælke ved behov */
}

.new-date {
  width: 300px;
  padding: 7px 13px 7px 13px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  background: #201e1e;

  box-shadow: 0px 0px 8px 2px rgba(91, 91, 91, 0.25);

  position: relative;
  margin: 5px;
}
#pick {
  border-radius: 8px;
  background: #201e1e;
  width: 300px;
  height: 36px;
  box-shadow: 0px 0px 8px 2px rgba(91, 91, 91, 0.25);
  border: none;
  color: white;
  font-size: 17px;
  padding: 7px 7px 7px 7px;
  margin-top: 20px;
}
.new-date p {
  color: #55ec20;
}

.new-date h4 {
  color: white;
  font-size: 15px;
}

footer {
  justify-content: center;
  height: 50px;
  align-items: center;
  margin-top: 190px;
}
footer p {
  color: white;
  padding: 22px;
  background-color: #201e1e;
}
.link {
  color: #55ec20;
}
#live-clock {
  display: none;
}
#live-feed-el {
  display: none;
}
